body{
    font-family: Arial;
}

.side-bar {
    background-color:antiquewhite;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    margin:0px;
    padding: 0px;
    overflow-y: auto;
}

.side-bar-icons {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin: 4px;
}

.side-bar-buttons {
    margin: 4px;
    padding: 6px;
    width: 50px;
    border: none;
    background-color: antiquewhite;
    border-radius: 0px;
}

.side-bar-buttons:hover {
    background-color: #cbbeae;
}

.side-bar-buttons:active {
    background-color: #a59a8d;
}


#file-list ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#file-list li {
    margin-top: 7px;
    margin-left: 0px;
    padding: 5px;
    padding-left: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: bold;
}

#file-list li.selected-file{
    background-color:#006be5;
    color:white;
    width: 100%;
    margin: 0px;
    left: 0px;
    position:relative;
}
#file-list li.selected-file:hover {
    background-color: #006be5;
}

#file-list li:hover {
    background-color: #cbbeae;
}

